### ë¬¸ì œ 1~4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
# ------------------------------------------
# ğŸ§© Pandas ì‹¤ìŠµ: ë°ì´í„°í”„ë ˆì„ ë‹¤ë£¨ê¸° ìˆ™ì œ
# ------------------------------------------

import pandas as pd
import numpy as np

# ë”•ì…”ë„ˆë¦¬ ë°ì´í„°

dict_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Age': [25, 35, np.nan, 40, 45, 50, np.nan],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Los Angeles', 'Chicago'],
    'Salary': [75000, np.nan, 90000, 108000, 110000, 95000, np.nan]
    }

# ------------------------------------------
# ë¬¸ì œ 1: ë”•ì…”ë„ˆë¦¬ â†’ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
# ------------------------------------------
# ì‚¬ì „ ìë£Œë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•´ì„œ df ê°ì²´(ë³€ìˆ˜)ì— í• ë‹¹í•˜ê³  ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: ì‚¬ì „ ìë£ŒëŠ” dict_data, ë°ì´í„°í”„ë ˆì„ ê°ì²´ ì´ë¦„ì€ df
# íŒíŠ¸: df = pd.DataFrame(ì‚¬ì „ ìë£Œ ì´ë¦„)

df = pd.DataFrame(dict_data)
print(df)


# ------------------------------------------
# ë¬¸ì œ 2: Age, City, Salary ì—´ë§Œ ì„ íƒ
# ------------------------------------------
# ë°ì´í„°í”„ë ˆì„(df)ë¡œ ë¶€í„° Age, City, Salary ì—´ë§Œ ì„ íƒí•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: df[[ì—´ì´ë¦„, ì—´ì´ë¦„, ì—´ì´ë¦„[]] ì´ìš©
df_no_name = df[['Age', 'City', 'Salary']]
print('\n')
print(df_no_name)

# ------------------------------------------
# ë¬¸ì œ 3: Age, Salary í‰ê·  ê³„ì‚° (ê²°ì¸¡ì¹˜ ì œì™¸)
# ------------------------------------------
# ë°ì´í„°í”„ë ˆì„(df)ì—ì„œ Age ì—´ì˜ í‰ê·  ê°’ì„ age_meanì— í• ë‹¹í•˜ê³ , Salary ì—´ì˜ í‰ê·  ê°’ì„ salary_meanì— í• ë‹¹í•´ì„œ ê°ê° ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: df[ì—´ì´ë¦„].mean()ë©”ì„œë“œ ì‚¬ìš©(mean()ì€ ê²°ì¸¡ì¹˜ë¥¼ ìë™ìœ¼ë¡œ ì œì™¸í•˜ê³  í‰ê· ì„ ê³„ì‚°í•¨)
age_mean = df['Age'].mean()
salary_mean = df['Salary'].mean()
print('\n')
print('ageì˜ í‰ê· ')
print(age_mean)
print('salaryì˜ í‰ê· ')
print(salary_mean)

# ------------------------------------------
# ë¬¸ì œ 4: Cityê°€ 'Chicago'ì¸ í–‰ ì„ íƒ
# ------------------------------------------
#  ë°ì´í„°í”„ë ˆì„(df)ì—ì„œ Cityê°€ 'Chicago'ì¸ í–‰ë§Œ ì„ íƒí•˜ì—¬ chicago_row ë³€ìˆ˜ì— í• ë‹¹í•´ì„œ ì¶œë ¥í•˜ì„¸ìš”
#  íŒíŠ¸: chicago_row = df[df['City'] == ë„ì‹œì´ë¦„]
chicago_row = df[df['City'] == 'Chicago']
print('\n')
print(chicago_row)

      Name   Age         City    Salary
0    Alice  25.0     New York   75000.0
1      Bob  35.0  Los Angeles       NaN
2  Charlie   NaN      Chicago   90000.0
3    David  40.0      Houston  108000.0
4      Eve  45.0      Phoenix  110000.0
5    Frank  50.0  Los Angeles   95000.0
6    Grace   NaN      Chicago       NaN


    Age         City    Salary
0  25.0     New York   75000.0
1  35.0  Los Angeles       NaN
2   NaN      Chicago   90000.0
3  40.0      Houston  108000.0
4  45.0      Phoenix  110000.0
5  50.0  Los Angeles   95000.0
6   NaN      Chicago       NaN


ageì˜ í‰ê·
39.0
salaryì˜ í‰ê·
95600.0


      Name  Age     City   Salary
2  Charlie  NaN  Chicago  90000.0
6    Grace  NaN  Chicago      NaN

### ë¬¸ì œ 5~10

In [38]:
# ------------------------------------------
# ë¬¸ì œ 5: ê²°ì¸¡ì¹˜ë¥¼ ê° ì—´ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´
# ------------------------------------------
# Ageì™€ Salary ì—´ì˜ ê²°ì¸¡ì¹˜ë¥¼ ê°ê°ì˜ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê³ , ìƒˆë¡­ê²Œ ìƒì„±ëœ ë°ì´í„°í”„ë ˆì„(df_clean)ì„ ì¶œë ¥í•˜ê¸°
# íŒíŠ¸: ìš°ì„  ì›ë³¸ì„ ë³´ì¡´í•˜ê¸° ìœ„í•´ ë³µì‚¬ë³¸ ìƒì„±: df_clean = df.copy()
# íŒíŠ¸: df_clean[ì—´ì´ë¦„] = df_clean[ì—´ì´ë¦„].fillna(df_clean[ì—´ì´ë¦„].mean())ì‚¬ìš©
df_clean = df.copy()
df_clean['Age'] = df_clean['Age'].fillna(df_clean['Age'].mean())
df_clean['Salary'] = df_clean['Salary'].fillna(df_clean['Salary'].mean())
print(df_clean)



# ------------------------------------------
# ë¬¸ì œ 6: Ageì™€ Salaryì˜ ìƒê´€ê³„ìˆ˜ ê³„ì‚°
# ------------------------------------------
# ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„(df_clean)ì—ì„œ Ageì™€ Salaryì˜ ìƒê´€ê³„ìˆ˜ ê³„ì‚°í•´ì„œ correlation ë³€ìˆ˜ì— í• ë‹¹í•´ì„œ ì†Œìˆ˜ì ì•„ë˜ 2ìë¦¬ê¹Œì§€ë§Œ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: correlation = df_clean[ì—´ì´ë¦„].corr(df_clean[ì—´ì´ë¦„]).round(2), ìƒê´€ê´€ê³„ëŠ” 0.69ê°€ ë‚˜ì˜µë‹ˆë‹¤.

correlation = df_clean['Age'].corr(df_clean['Salary']).round(2)
print('\n')
print('Ageì™€ Salaryì˜ ìƒê´€ê³„ìˆ˜')
print(correlation)



# ------------------------------------------
# ë¬¸ì œ 7: Salary ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
# ------------------------------------------
# ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„(df_clean)ì—ì„œ Salary ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì„ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•´ì„œ sorted_by_salaryì— í• ë‹¹í•´ì„œ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: sorted_by_salary =  df_clean.sort_values(by = ì—´ì´ë¦„)
sorted_by_salary = df_clean.sort_values(by = 'Salary')
print('\n')
print(sorted_by_salary)



# ------------------------------------------
# ë¬¸ì œ 8: Salaryê°€ 90,000 ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ City
# ------------------------------------------
# ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„(df_clean)ì—ì„œ Salaryê°€ 90,000 ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ Cityë§Œ ì„ íƒí•˜ì—¬ high_salary_city ë³€ìˆ˜ì— í• ë‹¹í•´ì„œ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: high_salary_city = df_clean[df_clean['Salary'] >= 90000][ë„ì‹œ ì—´ì´ë¦„] - ì—´ì„ ì„ íƒí•˜ëŠ” ì½”ë“œ

high_salary_city = df_clean[df_clean['Salary'] >= 90000]['City']
print('\n')
print('Salaryê°€ 90,000 ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ City')
print(high_salary_city)


# ------------------------------------------
# ë¬¸ì œ 9: Cityë³„ í‰ê·  Salary ê³„ì‚° (groupby ì‚¬ìš©)
# ------------------------------------------
# ê° ë„ì‹œ(City)ë³„ í‰ê·  Salary ê°’ì„ ê³„ì‚°í•˜ê³  salary_means_by_city í• ë‹¹í•´ì„œ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: groupby()ì™€ mean()ì„ ì‚¬ìš©í•˜ì—¬ Cityë³„ Salary í‰ê· ì„ ê³„ì‚°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
# salary_means_by_city = df_clean.groupby(ë„ì‹œì—´ì´ë¦„)[ì—°ë´‰ì—´ì´ë¦„].mean()
salary_means_by_city = df_clean.groupby('City')['Salary'].mean()
print('\n')
print('Cityë³„ í‰ê·  Salary')
print(salary_means_by_city)



# ------------------------------------------
# ë¬¸ì œ 10: pivot_tableë¡œ Cityë³„ í‰ê·  Salary ê³„ì‚°
# ------------------------------------------
# pivot_tableì„ ì‚¬ìš©í•˜ì—¬ ê° ë„ì‹œ(City)ë³„ í‰ê·  Salary ê°’ì„ ê³„ì‚°í•˜ê³  salary_means_pivotë³€ìˆ˜ì— í• ë‹¹í•´ì„œ ì¶œë ¥í•˜ì„¸ìš”.
# íŒíŠ¸: pivot_table() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ indexëŠ” 'City', valuesëŠ” 'Salary', aggfuncëŠ” 'mean'ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
salary_means_pivot = df_clean.pivot_table(index='City', values='Salary', aggfunc='mean')
print('\n')
print(salary_means_pivot)

      Name   Age         City    Salary
0    Alice  25.0     New York   75000.0
1      Bob  35.0  Los Angeles   95600.0
2  Charlie  39.0      Chicago   90000.0
3    David  40.0      Houston  108000.0
4      Eve  45.0      Phoenix  110000.0
5    Frank  50.0  Los Angeles   95000.0
6    Grace  39.0      Chicago   95600.0


Ageì™€ Salaryì˜ ìƒê´€ê³„ìˆ˜
0.69


      Name   Age         City    Salary
0    Alice  25.0     New York   75000.0
2  Charlie  39.0      Chicago   90000.0
5    Frank  50.0  Los Angeles   95000.0
1      Bob  35.0  Los Angeles   95600.0
6    Grace  39.0      Chicago   95600.0
3    David  40.0      Houston  108000.0
4      Eve  45.0      Phoenix  110000.0


Salaryê°€ 90,000 ì´ìƒì¸ ì‚¬ëŒë“¤ì˜ City
1    Los Angeles
2        Chicago
3        Houston
4        Phoenix
5    Los Angeles
6        Chicago
Name: City, dtype: object


Cityë³„ í‰ê·  Salary
City
Chicago         92800.0
Houston        108000.0
Los Angeles     95300.0
New York        75000.0
Phoenix        110000.0
Name: Salary, dtype: float64


               Salary
City
Chicago       92800.0
Houston      108000.0
Los Angeles   95300.0
New York      75000.0
Phoenix      110000.0