In [ ]:
# mount on colab
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# load necessary package
import numpy as np # load numpy as np
import pandas as pd # load pandas as pd

# Data Type in Python

## Numberic Type

In [ ]:
n1=123
n2=1.4
n1+n2

## String Type

In [ ]:
s1="Kyunghee"
s2="University"
s1+s2

### String indexing (subsetting)

In [ ]:
s="Kyunghee University"

In [ ]:
print(s[3]) # indexing the 4th character from the front (important: Python starts at the 0th element.)

In [ ]:
print(s[-3]) # indexing the 3rd character from the end

In [ ]:
print(s[0:4]) # indexing the 1st through 4th characters (for the number before : +1, for the number after :, as is)

In [ ]:
print(s[1:2]) # indexing the 2nd through the 2nd characters--i.e., indexing the 2nd character

In [ ]:
print(s[4:]) # indexing everything from the 5th character

## List Type

single = - assigment. 'a' is random can be anything

In [ ]:
a=[1,2,3,4,5]

In [ ]:
print(a)

### List indexing

In [ ]:
print(a[0]) # indexing the 1st element from the front

In [ ]:
print(a[-1]) # indexing the 1st element from the end

In [ ]:
print(a[0:5]) # indexing the 1st through 5th elements (for the number before : +1, for the number after :, as is)

In [ ]:
print(a[:5]) # indexing everything through the 5th element

In [ ]:
print(a[2:]) # indexing everything from the 3rd element

In [ ]:
a[0]=11

### Adding, modifying, and removing elements in a list

In [ ]:
a.append(6) # add 6

In [ ]:
print(a)

In [ ]:
a[0]=11 # change the 1st element to 11

In [ ]:
print(a)

In [ ]:
del a[1] # remove the 2nd element

In [ ]:
print(a)

### Merging and repeating lists

In [ ]:
a1=[1,2]

In [ ]:
a2=[3,4,5]

In [ ]:
a12=a1+a2 # merge

In [ ]:
print(a12)

In [ ]:
a3=a1*3 # repeat

In [ ]:
print(a3)

## Python Statement

### if statement

In [ ]:
age = 19
if age < 20:
    print("You are a minor.")
elif age == 20:             # == - 같다!('='할당임)
    print("You just became an adult.")
else:
    print("You are an adult.")

In [ ]:
age = 20
if age < 20:
    print("You are a minor.")
elif age == 20:
    print("You just became an adult.")
else:
    print("You are an adult.")

In [ ]:
age = 21
if age < 20:
    print("You are a minor.")
elif age == 20:
    print("You just became an adult.")
else:
    print("You are an adult.")

### for loop

In [ ]:
# The loop contiutes to print each item in the list UNTIL the last one, which is Univ.
list=["Kyung","Hee","Univ"]
for s in list:
    print(s)

In [ ]:
# range(5) generates the sequence of numbers from 0 to 4.
# Then, the loop continues to print each number in the sequence until the last one, which is 4.
for i in range(5):
    print(i)

In [ ]:
# range(4) generates the sequence of numbers from 0 to 3 for i.
# Then, the loop continues to add i to sum UNTIL the last element of i, which is 3 (0, 0+1, 1+2, 3+3).
sum=0
for i in range(4):
    sum=sum+i
print(sum)

### while loop

In [ ]:
# print i, while continuing to add 1 to i AS LONG AS it is smaller than 10.
i=0
while i<10:
    i=i+1
    print(i)

# NumPy Library

In [ ]:
pip install numpy # install numpy, but colab already has numpy installed

In [ ]:
import numpy as np # import numpy as np

In [ ]:
v=np.array([1,2,3,4]) # array command in np (numpy) library
print(v)

In [ ]:
v1=np.arange(12) # generate 12 numbers
print(v1)

## Pandas Library

In [ ]:
pip install pandas # pandas already installed in colab

### converting dictionary into series

In [ ]:
import pandas as pd # import pandas as pd

In [ ]:
dict_data={'a':1,'b':2,'c':3} # generate a dictionary with {key:value}

In [ ]:
print(type(dict_data)) # verify the class of data

In [ ]:
print(dict_data) # check objects stored in dict_data

In [ ]:
sr=pd.Series(dict_data) # convert dictionary into series

In [ ]:
print(type(sr)) # verify the class of data

In [ ]:
print(sr) #  check objects stored in sr

### converting list into series

In [ ]:
list_data=['2023.01.01',3.14,'KBS',100] # generate a list

In [ ]:
print(list_data)

In [ ]:
sr=pd.Series(list_data) # convert list into series

In [ ]:
print(sr) # List -> Series conversion automatically creates integer index

## dataframe

In [ ]:
# Create multiple Series
series1 = pd.Series([1987,1992,1997,2002,2007,2012,2017,2022,2025])
series2 = pd.Series(["TW Roh","YS Kim","DJ Kim","MH Roh","MB Lee","GH Park","JI Moon","SY Yoon","JM Lee"])
series3 = pd.Series([89.2, 81.9, 80.7, 70.8, 63.0, 75.8, 77.2,77.1,79.4])
# Combine Series into a DataFrame
df = pd.DataFrame({'year': series1, 'president': series2,'rate':series3}) # column name
print(df)

In [ ]:
# save dataframe as csv file to google drive
# your own file path should be defined--i.e., where you want to save your file in google drive
# 'PEW.csv'- 수정. df.to_csv(file_path) - 고대로

file_path = '/content/drive/MyDrive/data analysis and coding/PEW.csv'
df.to_csv(file_path)

## Loading and Displaying Data

In [ ]:
# load necessary package
import numpy as np # load numpy as np
import pandas as pd # load pandas as pd

In [ ]:
# loading CSV file stored in google drive
# your own file path should be defined--i.e., where your file is stored in google drive
file_path='/content/drive/MyDrive/data analysis and coding/PEW.csv'
# save data as pew dataframe
pew=pd.read_csv(file_path)

In [ ]:
print(pew) # use the print function to display data in a pandas dataframe

In [ ]:
pew.head() # show the first first five rows

In [ ]:
pew.tail() # show the last first five rows

In [ ]:
pew.describe() # provide summary statistics

In [ ]:
pew.info() # give information about the datarame’s structure

In [ ]:
# save rows 1 through 5 as pew_a dataframe (for the number before : +1, for the number after :, as is))
pew_a=pew[0:5]
print(pew_a) # in the result, row 0 is actually the 1st row and row 4 is actually the 5th row

In [ ]:
# save rows from the first through 3rd rows as pew_b dataframe
pew_b=pew[:3]
print(pew_b) # in the result, row 0 is actually the first row and row 2 is actually the 3rd row

In [ ]:
# save rows from the 2250th through the last rows as pew_c dataframe
pew_c=pew[2249:]
print(pew_c) # in the result, row 2249 is actually the 2250th row and row 2252 is the last row

In [ ]:
# save'party' variable as pew_p dataframe
pew_p=pew['party']
print(pew_p)

In [ ]:
 # save the 1st, 2nd, 4th, and 11th columns as pew_d dataframe
pew_d=pew[pew.columns[[0,1,3,10]]]
print(pew_d)

In [ ]:
# 'loc' indexes by index labels. in this case, indexes by column labels like ideo, weight
# save those as pew_iw dataframe
pew_iw=pew.loc[:,'ideo':'weight']
print(pew_iw)

In [ ]:
# extract only men (sex=1) and resave as pew_sex dataframe
pew_sex=pew[(pew['sex']==1)]
pew_sex.describe()

In [ ]:
pew_sex=pew[(pew['sex']==2)]
pew_sex.describe()

## Missing Values

In [ ]:
# q16 in pew (How often, if ever, do you talk about politics or current events with your family and friends?
# 1. Very often; 2. Sometimes; 3. Rarely; 4. Never; 8. Don’t know; 9. Refused)
pew['q16'].value_counts() # 8 and 9 are missing values

In [ ]:
pew['q16'].mean() # including 8 and 9 inflates mean value

In [ ]:
print(pew['q16'].mean()) # print() for cleaner presentation of results

In [ ]:
from numpy import nan # importing numpy's nan package for handling missing values

In [ ]:
pew['q16m']=pew['q16'] # create a new variable q16m from q16 while copying all the values

In [ ]:
pew['q16m']=pew['q16m'].replace([8,9],nan) # modify 8 and 9 in q16m into nan (missing values) simultaneously

pew['q16m']=pew['q16m'].replace(8,nan) # modify 8 and 9 in q16m into nan (missing values) indiviudally
pew['q16m']=pew['q16m'].replace(9,nan) # modify 8 and 9 in q16m into nan (missing values) indiviudally

In [ ]:
pew['q16m'].value_counts(dropna=False) # include missing values in frequency table via dropna=False

In [ ]:
pew['q16m'].mean() # NaN will be excluded from mean; since 8 and 9 are exlcued, mean has become smaller

### saving data WITHOUT missing values

In [ ]:
pew_filtered=pew.dropna() # save data WITHOUT missing values as a new object

In [ ]:
pew_filtered['q16m'].value_counts(dropna=False) # missing values are excluded from the new data

## Recoding

In [ ]:
# load necessary package
import numpy as np # load numpy as np
import pandas as pd # load pandas as pd

In [ ]:
# loading CSV file stored in google drive
# your own file path should be defined--i.e., where your file is stored in google drive
file_path='/content/drive/MyDrive/data analysis and coding/TESS.csv'
# save data as tess dataframe
tess=pd.read_csv(file_path)

In [ ]:
print(tess)

In [ ]:
tess['XREL1'].value_counts().sort_index(ascending=True) # frequency of values in ascending order

### recoding into a new variable

In [ ]:
# defining recoding function
def rel_groups(series):
    if series == 3:
        return 100 # assign 100 to “3=Catholic”
    elif series == 1 or series == 2 or series == 4 or series == 9:
        return 200 # assign 200 to “1, 2, 4, 9=Protestant”
    elif series == 10 or series == 11:
        return 300 # assign 300 to “10, 11=Other.Christian”
    elif series == 13:
        return 400 # assign 400 to “13=Atheist”
    elif series == 5 or series == 6 or series == 7 or series == 8 or series == 12:
        return 500 # assign 500 to “5, 6, 7, 8, 12=Misc.Religion”
    elif series == -1:
        return np.nan # np.nan allows you to handle missing values

In [ ]:
# apply the defined recoding function to XREL1 and save it as religion5
tess['religion5']=tess['XREL1'].apply(rel_groups)

In [ ]:
# show frequency of religion5 including missing values in ascending order
tess['religion5'].value_counts(dropna=False).sort_index(ascending=True)

### recoding a numeric variable into a character variable

In [ ]:
 # create a new variable religion5.text from religion5 while copying all the values
tess['religion5.text']=tess['religion5']

In [ ]:
# recode numeric values into characters
tess['religion5.text']=tess['religion5.text'].replace([100,200,300,400,500],['Catholic','Protestant','Other Christian','Atheist','Misc Religion'])

In [ ]:
tess['religion5.text'].value_counts(dropna=False).sort_values(ascending=True) # 항목 빈도수로 정렬

In [ ]:
# crosstab between recoded string variable (religion5.text in row) and original variable (XREL1 in column)
pd.crosstab(tess['religion5.text'],tess['XREL1'])

# excersie

In [ ]:
# Create multiple series
series1 = pd.Series(["male","female","female","male","male","male","female"])
series2 = pd.Series([54, 34, 556, 57, 88, 856, 23])
# Combine series into a DataFrame
data = pd.DataFrame({'gender': series1, 'salary': series2}) # column name
print(data)

In [ ]:
data['salary'].mean() # including 556 and 856 inflates mean value

In [ ]:
# define the function to recode values above 500 to nan
def recode_salary(value):
    if value > 500:
        return np.nan # recode values above 500 into missing values
    else:
        return value # copy all the other values

In [ ]:
# apply the function to the 'salary' column
data['salary'] = data['salary'].apply(recode_salary)

In [ ]:
data['salary'].value_counts(dropna=False).sort_index(ascending=True) # frequency showing missing value as NaN

In [ ]:
data['salary'].mean() # 556 and 856 are now treated as missing values

### saving data WITHOUT missing values

In [ ]:
data_filtered=data.dropna() # save data WITHOUT missing values as a new object

In [ ]:
data_filtered['salary'].value_counts(dropna=False).sort_index(ascending=True) # frequency showing missing value as NaN

In [ ]:
data_filtered['salary'].mean()

### replacing missing values with mean

In [ ]:
# you can also replace missing values with the mean of the other values
data['salary'] = data['salary'].replace(np.nan, np.mean(data['salary']))

In [ ]:
print(data)