# 문제 1
* 온라인 서점에서 인기 있는 책 제목들을 크롤링한 결과, '파친코', '지구에서 한아뿐', '아몬드'라는 세개의 책 제목 데이터를 출력했다. 이 데이터를 리스트 형식으로 "books" 변수에 할당하여 출력하세요.

In [11]:
books = ["파친코","지구에서 한아뿐","아몬드"]
print(books)

['파친코', '지구에서 한아뿐', '아몬드']

# 문제 2
* "books" 리스트에서 첫 번째 책과 마지막 책을 추출하여 출력하시오.
* 출력값:
* 파친코, 아몬드

* 힌트: 리스트 인덱싱

In [12]:
print(books[0],books[-1])

파친코 아몬드

# 문제 3

*  "books" 리스트의 마지막 위치 다음에 '달러구트 꿈 백화점'을 추가하여 4개의 책 리스트로 만들고 수정된 books를 출력하세요.
* 힌트: append() 함수
* 출력값:
* ['파친코', '지구에서 한아뿐', '아몬드', '달러구트 꿈 백화점']

In [13]:
books.append("달러구트 꿈 백화점")
print(books)

['파친코', '지구에서 한아뿐', '아몬드', '달러구트 꿈 백화점']

# 문제 4
* "books" 리스트에서 모든 책 제목을 ', '로 구분해 하나의 문자열로 합치고 books_str변수에 할당해서 출력하시오.
* 힌트: '구분자'.join() 함수
* 출력값:
* '파친코, 지구에서 한아뿐, 아몬드', 달러구트 꿈 백화점'

In [14]:
books_str = ",".join(books)
print(books_str)

파친코,지구에서 한아뿐,아몬드,달러구트 꿈 백화점

# 문제 5
* "books" 리스트의 첫 번째 책을 '해리 포터'로 바꾸시오. 수정된 리스트를 출력하시오.
* 출력값: ['해리 포터', '지구에서 한아뿐', '아몬드', '달러구트 꿈 백화점']

In [ ]:
books[0] = '해리 포터'
print(books)

['해리 포터', '지구에서 한아뿐', '아몬드', '달러구트 꿈 백화점']

# 문제 6
* 인기 전자제품의 가격을 나타내는 숫자 데이터를 튜플로 "prices"에 저장하고 출력하세요. 가격은 15000, 35000, 25000입니다.

In [ ]:
prices =(15000, 35000, 25000)
print(prices)

(15000, 35000, 25000)

# 문제 7

* "prices" 튜플에서 첫 번째 제품의 가격과 세 번째 제품의 가격을 추출하여 출력하시오.
* 출력값: 15000, 25000
* 힌트: 튜플 인덱싱

In [ ]:
print(prices[0],prices[-1])

15000 25000

# 문제 8
* 아마존에서 크롤링한 상품 이름과 가격을 사전 형식으로 "amazon_items" 변수에 저장하고, 상품이름만 추출해서 출력하세요. 상품과 가격 쌍은 "노트북": 1500000, "스마트폰": 1000000, "태블릿": 500000입니다.
* 출력값: dict_keys(['노트북', '스마트폰', '태블릿'])

In [ ]:
amazon_items = {"노트북": 1500000, "스마트폰": 1000000, "태블릿": 500000}
print(amazon_items.keys())

dict_keys(['노트북', '스마트폰', '태블릿'])

# 문제 9
* "amazon_items"에서 '노트북'의 가격을 추출하여 출력하세요.

* 출력값: 150000

* 힌트: 사전 인덱싱

In [ ]:
print(amazon_items["노트북"])

1500000

# 문제 10

*   뉴스 사이트에서 크롤링한 단어를 두 집합으로 "news_words"와 "online_words"에 할당하고, 두 집합에서 중복되는 단어를 출력하세요.

*  {"경제", "정치", "스포츠", "기술", "사회"}
*  {"기술", "게임", "사회", "문화", "교육"}

In [ ]:
news_words = {"경제", "정치", "스포츠", "기술", "사회"}
online_words = {"기술", "게임", "사회", "문화", "교육"}
print(news_words & online_words)

{'사회', '기술'}