# **pandas: 데이터 정리와 분석**


> DATAQUEST가 제공하는 Pandas Cheat Sheet 
Python for Data Science를 바탕으로 구성(https://www.dataquest.io/blog/pandas-cheat-sheet/)

## 🐼 pandas란?


*   파이썬에서 데이터 분석을 위해 널리 사용되는 강력한 라이브러리
*   엑셀(Excel)과 유사한 방식으로 데이터를 다룰 수 있음
*   특히 **행과 열로 구성된 구조화된 데이터(표 형태의 데이터)**를 효율적으로 처리하고 분석할 수 있도록 설계되었음

In [1]:
import pandas as pd
# 파이썬에서 데이터프레임과 시리즈를 생성하기위해 pandas 라이브러기 불러오기(pd라는 축약어(alias)로 사용할 수 있음)
import numpy as np
# 수집한 데이터를 분석하기 위해 numpy라는 숫자 배열 및 연산을 위한 라이브러리를 불러오기
#import 판다스만 해도 된다. 근데 왜 as pd를 하냐면, 이 판다스가 객체가 되어서 쓰는데, 이걸 가지고 이름을 불러내니까 길어서 pd라고 하는 것이다.

## pandas의 주요 특징
*  **핵심 자료구조**: pandas는 두 가지 주요 자료구조를 제공 → 데이터프레임(DataFrame) 과 시리즈(Series)


### 데이터프레임(DataFrame)
* **2차원(행 × 열) 구조의 자료형**으로, 엑셀 스프레드시트와 유사
*  **숫자, 문자, 불리언(불형) 등 다양한 데이터형**을 함께 저장가능
*  각 **열(column)** 은 서로 다른 자료형을 가질 수 있으며, **행(row)** 과 **열 이름(column name)**, **인덱스(index)** 를 가짐(행은 데이터 프레임 한 줄 그 자체, 인덱스는 이를 구분하기 위한 이름표 즉 라벨)

### 시리즈(Series)
*   **1차원 구조의 자료형으로**.하나의 열(column) 또는 행(row)에 해당
*  **값(value)** 과 **인덱스(index)** 로 구성
* 일반적인 리스트(list)보다 **인덱스를 함께 관리**할 수 있다는 점이 다름


### 인덱스(index)
*   각 행을 식별하는 **고유한 번호(또는 이름)**
*  기본적으로 0, 1, 2, 3 … 순서로 자동 생성되며, df.index = ['a', 'b', 'c']처럼 사용자가 직접 설정 가능

### 행(Row)
*  데이터의 **개별 관측치(record)** 에 해당
*  예: ('철수', 20, '남자') 한 줄(row)이 하나의 고객 데이터

### 열(Column)
* 데이터의 **특성(feature)** 또는 **속성(attribute)** 을 나타냄
* 예: '이름', '나이', '성별' 등(이게 바로 컬럼명이다. 즉, 변수명이랑 똑같은 말이다)

## pandas 기본 구조 생성하기


### 데이터프레임(DataFrame) 만들기
### 시리즈(Series) 만들기

💬 **참고:**  
`pd.DataFrame()` 은 여러 열(column)을 가진 “표 형태” 데이터를 만들고,  
`pd.Series()` 는 하나의 열(column)만 있는 “단일 열 데이터”를 만듬.

In [ ]:
# pandas 라이브러리를 불러오기
import pandas as pd  # 판다스 안가져오면 데이터프레임 못 만든다. 데이터프레임 그 자체가 함수이다. 
# 내가 이 데이터프레임을 만들겠다! 라는 함수임

# ----------------------------------------------------
# 1. 데이터프레임(DataFrame) 만들기
# ----------------------------------------------------
# pandas의 DataFrame() 함수를 사용하여 표 형태의 "2차원" 데이터를 생성
# 일반적으로 딕셔너리(dictionary)를 인자로 사용  #데이터프레임은 사전형태를 좋아한다.
#   key   → 열(column) 이름
#   value → 각 열의 데이터 리스트


# 예제1: 간단한 학생 정보 DataFrame 생성
df = pd.DataFrame({
    "이름": ["철수", "영희", "민수"],
    "나이": [20, 21, 22]
})

# DataFrame 출력 (엑셀처럼 행과 열 구조 확인)
print("예제 1. 학생 정보 DataFrame")
print(df, "\n") #"\n"는 출력 결과 사이에 줄을 하나 띄워서 구분하기 위한 시각적 장치

# df를 출력하면 엑셀처럼 행과 열이 보임
# 인덱스(index)는 자동으로 0부터 시작하지만, 직접 지정 가능
# 필요하면 df.index = [1,2,3] 처럼 수정 가능
df.index = [1, 2, 3]   #데이터 프레임의 인덱스를 0,1,2, 가 아니라1,2,3으로 바꾸고 싶어
print(df, "\n")

# 예제 2: 직접 딕셔너리를 만들어 DataFrame 생성

df = pd.DataFrame({
    "변수1": [1, 2, 3, 4, 5],
    "변수2": [11, 23, 46, 58, 90]
})

# 인덱스(index) 지정 (기본은 0~4, 여기서는 1~5로 변경)
df.index = [1, 2, 3, 4, 5]

# DataFrame 출력
print("예제 2. 인덱스 지정 후 DataFrame")
print(df)


#사전형 자료형을 판다스데이터프레임 함수를 사용하면 우리는 보기 좋은 데이터프레임으로 바꿀 수 있다.
#내가 해봄
dt = {'이름':['박찬규','박정빈','여하은'],'나이':[24,18,17],'학교':['경희대학교','퇴계원고등학교','청학고등학교']}
df_dt = pd.DataFrame(dt)
df_dt.index = ['선생님','고2','고1']

예제 1. 학생 정보 DataFrame
   이름  나이
0  철수  20
1  영희  21
2  민수  22

   이름  나이
1  철수  20
2  영희  21
3  민수  22

예제 2. 인덱스 지정 후 DataFrame
   변수1  변수2
1    1   11
2    2   23
3    3   46
4    4   58
5    5   90

In [3]:
# ----------------------------------------------------
#  2. 시리즈(Series) 만들기
# ----------------------------------------------------
# pandas의 Series() 함수를 사용하여 "1차원" 데이터 생성
# 리스트(list)를 인자로 넣는 것이 일반적
#   값(value) → 데이터
#   인덱스(index) → 각 데이터의 순서 또는 이름

import pandas as pd

# 예제: 간단한 수치 데이터 Series 생성
new_series = pd.Series([201, 332, 564, 789, 973])
#인덱스 없는 리스트를 시리즈로 바꾸었다. 그러니 인덱스가 생겼다.

# 인덱스(index) 지정 (기본값 0~4 → 여기서는 1~5로 변경)
new_series.index = [1, 2, 3, 4, 5]

# Series 출력
print("시리즈 (new_series)")
print(new_series, "\n")

# 참고: pandas는 시리즈를 출력할때, “한 열”의 데이터 자료형(dtype) 을 명시적으로 보여줌
# 출력된 마지막 줄 dtype: int64는 이 시리즈에 저장된 값들이 64비트 정수(int64)형임을 의미함

# Series는 DataFrame 안에서 특정 열의 결과를 확인하거나 가공할 때 자연스럽게 쓰임
df = pd.DataFrame({
    "이름": ["철수", "영희", "민수"],
    "나이": [20, 21, 22]
})
s = df["나이"]  #이거 인덱스 같은 것이다.
#데이터프레임 df에서 칼럼명을 딱 싸주면 시리즈 같은 것들이 나온다. 그래서 데이터프레임에서 한 칼럼을 확인할 때 시리즈로 나온다.즉, df['칼럼명']=시리즈 나옴

print(s)
#이고 보면 데이터타입이 in64로 보인다. 이처럼 이 데이터 타입이 어떤 것인지를 알 수 있다. 수만개의 데이터프레임 중에서 하나 콕 찝어서 데이터 타입 확인할 떄 쓰인다.

시리즈 (new_series)
1    201
2    332
3    564
4    789
5    973
dtype: int64

0    20
1    21
2    22
Name: 나이, dtype: int64

## 파이썬 기초문법과 판다스 라이브러리 활용(GPT 이용)

* 파이썬의 기본 문법을 이해해야만 판다스의 데이터분석과 자료구조 조작을 위한 다양한 기능을 원활하게 사용가능

* 예를 들어, 판다스의 DataFrame 이나 Series 객체를 생성하고 조작할 때, 파이썬의 리스트, 딕셔너리, 반복문, 조건문등의 기초 문법이 필요.

In [5]:
import pandas as pd

# 학생 성적 데이터를 딕셔너리로 생성
#5칼럼, 5개의 인덱스가 있을 것이다. 안에 있는 리스트들은 다 value이고 name~ 같은 것들은 key이다.
#우리는 사전 변수를 data라는 변수 안에 집어넣는다. 그 후 밑에서 데이터프레임으로 바꾼다.

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'age': [20, 21, 19, 22, 23],
    'math': [88, 92, 85, 78, 90],
    'english': [90, 80, 85, 88, 92],
    'science': [82, 89, 91, 76, 85]
}
#이건 데이터 프레임이 아니라 사전형이다. 이걸 이제 나중에 바꾸는 것이다.#여기는 아직 사전인 것이다.

# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(data)
#이런식으로 넣는게 간편하네 보기도 편하고~ 변수에다가 넣고 변수명을 ()안에 넣는 방식 #여기부터는 데이터프레임이다!

# 데이터프레임 출력
print("학생 성적 데이터:")
print(df)

학생 성적 데이터:
      name  age  math  english  science
0    Alice   20    88       90       82
1      Bob   21    92       80       89
2  Charlie   19    85       85       91
3    David   22    78       88       76
4      Eve   23    90       92       85

1. Chat GPT에 각 학생의 성적 출력하는 코드 요청:

* "학생 성적 데이터를 사용하여 각 학생의 이름과 과목별 성적을 출력하는 파이썬 코드를 주세요." (교수님도 모르신다)

In [6]:
# 각 학생의 이름과 과목별 성적 출력
print("학생 성적 데이터:")
for i in range(len(df)):
    print(f"이름: {df.iloc[i]['name']}, 수학: {df.iloc[i]['math']}, 영어: {df.iloc[i]['english']}, 과학: {df.iloc[i]['science']}")


# 해설
# len(df)는 데이터프레임 df의 행(row) 수를 반환
# df.iloc[i]['name'] 구문은 df 데이터프레임의 i번째 행에서 name 열의 값을 가져오는 것
# iloc은 "integer location"의 약자로, 판다스(Pandas)에서 데이터프레임의 행과 열을 정수 기반의 위치로 선택할 때 사용하는 인덱서
# 예로, i = 0일 때 df.iloc[0]는 첫 번째 행(Alice)에 대한 데이터입니다. 따라서 df.iloc[0]['name']은 'Alice'가 됩니다.

학생 성적 데이터:
이름: Alice, 수학: 88, 영어: 90, 과학: 82
이름: Bob, 수학: 92, 영어: 80, 과학: 89
이름: Charlie, 수학: 85, 영어: 85, 과학: 91
이름: David, 수학: 78, 영어: 88, 과학: 76
이름: Eve, 수학: 90, 영어: 92, 과학: 85

2. Chat GPT에 평균 점수 계산하고 새로운 열로 추가하는 코드 요청:

"학생 성적 데이터를 사용하여 각 학생의 평균 점수를 계산하고 이를 새로운 열로 추가하는 파이썬 코드를 주세요."

### 첫번째 방식:  for문 방식

In [7]:
# 한행씩 순차 접근((for i in range(len(df)))

# 평균 점수를 계산하여 새로운 열로 추가
average_scores = []
for i in range(len(df)):
    avg = (df.iloc[i]['math'] + df.iloc[i]['english'] + df.iloc[i]['science']) / 3
    average_scores.append(avg)

df['average'] = average_scores  #  Pandas 데이터프레임 df에 새로운 열 average를 추가하는 코드
# 해설
# df['average']: 데이터프레임 df의 average라는 열을 새롭게 생성
# = average_scores: average_scores는 앞서 계산한 각 학생의 평균 점수들이 저장된 리스트

# 결과 출력
print("학생 성적 데이터:")
print(df)

#내가 해봄
df['name'] #이거 하면 기존에 name이라는 칼럼명이 있기 때문에 해당하는 값들이 나온다
df['통과여부']=['통','불','불','불','통']

학생 성적 데이터:
      name  age  math  english  science    average
0    Alice   20    88       90       82  86.666667
1      Bob   21    92       80       89  87.000000
2  Charlie   19    85       85       91  87.000000
3    David   22    78       88       76  80.666667
4      Eve   23    90       92       85  89.000000

![image.png]()

이게 가능한 이유는 판다스는 마치 사전형처럼 작동하기 떄문이다.

### 두번째 방식:  Pandas 벡터 연산(mean) 방식

In [8]:
# 한 번에 열 전체 처리 (mean(axis=1))
\
# 각 학생의 평균 점수 계산 및 새로운 열로 추가
df['average'] = df[['math', 'english', 'science']].mean(axis=1)
# 데이터프레임 출력
print("학생 성적 데이터와 평균 점수:")
print(df)

#axis=1은 가로로 묶어서 즉, 행을 기준으로 평균을 구하는 것임
#axis=0은 세로로 묶어서 즉, 열을 기준으로 평균을 구하는 것임. axis=1을 안했다면 모든 수학, 영어, 과학 점수의 평균을 냈을 것임. 각각 개인의 점수 평균이 아니라!

학생 성적 데이터와 평균 점수:
      name  age  math  english  science    average 통과여부
0    Alice   20    88       90       82  86.666667    통
1      Bob   21    92       80       89  87.000000    불
2  Charlie   19    85       85       91  87.000000    불
3    David   22    78       88       76  80.666667    불
4      Eve   23    90       92       85  89.000000    통